@media (min-width: 990px) and (max-width:1200px){

}

@media (min-width: 901px) and (max-width:1200px){
    h2 {
        font-size: 1.6rem !important;
    }
   .main-header .brand-img {
        width: 16vw !important;
    }
   .nav-link {
        font-size: 1rem !important;
        font-family: 'Gilroy-Semibold';
    }
    .main-header .nav-link>img {
        width: 1.5rem !important; 
        margin-top: 8px !important; 
    } 
    .main-header .telephone {
        margin-top: 8px !important; 
        font-size: 1rem !important;
    }
    .main-header .call-bnt {
        /* line-height: 20px; */
        font-size: 0.8rem !important;
    }
    .main-carousel .slide-info .caption-block h1 {
        font-size: 1.8rem !important;
        top: 5rem !important;
    }
    .main-carousel .carousel .carousel-item {

        padding-bottom: 0 !important;
    }
    .main-carousel .slide-info .caption-block p {
        font-size: 0.9rem !important;
        padding-top: 3rem !important;
    }
    .main-carousel .slide-info .caption-block button {
        width: 12rem !important;
        font-size: 1.1rem !important;
        line-height: 35px !important;
    }
    .main-carousel .carousel .carousel-caption .caption__title {
        font-size: 1.2rem !important;
    }
    .main-carousel .carousel .carousel-caption .caption__info {
        font-size: 1.2rem !important;
    }
    .main-carousel .background-template {
        /* z-index: 1 !important; */
    }
    .advantages {
        width: 90% !important;
        z-index: 999 !important;
    }
    .advantages__title {
        z-index: 999 !important;
        
    }
    .advantages .table>:not(:last-child)>:last-child>* {
        font-size: 1.1rem !important;
    }
    .advantages .undrl{
        font-size: 1.0rem !important;
    }
    .advantages td {
        font-family: 'Gilroy-Regular' !important;
        font-size: 0.9rem !important;
    }
    .product-wrapper .container{
        margin: 0 auto !important;
    }
    .product-bar__elem {
        height: 57px !important;
        padding-top: 5px !important;
    }
    .product-bar p {
        font-size: 1rem !important;
    }
    .product-menu {
        /* margin-top: 2rem !important; */
        height: 40vw !important;
    }
    .product-menu .card {
        height: 20rem !important;
    }
    .product-menu .card .price {
        font-size: 1rem !important;

    }
    .product-menu .card h5 {
        font-size: 1rem !important;

    }
    .product-menu .card:hover {
        transform: scale(1.05) !important; /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        height: 60vh !important;
    }
    .product-menu .card a {
        width: 6rem !important;
        font-size: 1rem !important;
    }
    .product-menu .product-table .column {
        font-size: 0.81rem !important;
    }
    .product-menu .product-table .data {
        font-size: 0.81rem !important;

    }
    .product-wrapper .disclaymer {
        font-size: 1.0rem !important;
    }
    .social-section .btn-hover {
        width: 20rem !important;
        margin-left: 29vw !important;
        font-size: 1.1rem !important;
    }
    .about-us {
        padding-top: 7rem !important;
    }
    .about-us__inner {
        font-size: 0.9rem !important;
    }
    .fetures__holder img {
        width: 0.2rem !important;
    }
    .features__body_row h3 {
        font-size: 1rem !important;
    }
    .features__body_row p {
        font-size: 0.9rem !important;
        font-family: 'Gilroy-Regular' !important;
    } 
    .features__header p {
        font-size: 0.85rem !important;
    }
    .features__descr__text {
        font-size: 0.85rem !important;
    }
    #map {
        height: 35vw !important;
    }
    .contact-block h2 {
        font-size: 1.4rem !important;
    }
    .contact-block p {
        font-size: 0.85rem !important;
    }
    .contact-block__wrapper button {
        /* font-size: 0.85rem !important; */
        line-height: 35px !important;
    }
    .main-footer .disclaymer-holder p {
        font-size: 0.7rem !important;
    }
    .footer__info {
        font-size: 0.8rem !important;
    }
    .main-footer a {
        font-size: 0.9rem !important;
    }
    .main-footer .call-back {
        margin-left: 15px !important;
        width: 150px !important;
    }
    .main-footer .telephone {
        text-align: center !important;
        margin-left: 10px !important;
    }
    .main-footer .social a>img {
        padding: 0 !important;
        width: 1.8rem !important;
    }
}

@media (min-width:200px) and (max-width:900px){
    .main-header {
        display: none !important;
    }
    .mobile-header {
        display: block !important;
    }
    .mobile-header .brand-img {
        width: 22vh !important;
        margin-left: 1rem;
    }
    .navbar-toggler {
        border: none !important;
    }
    .navbar-light .navbar-toggler {
        border: none !important;

    }
    .navbar-toggler:focus{
        border: none !important;
    }
    .mobile-header .nav-elem {
        cursor: pointer;
    }
    .mobile-header .nav-elem>img {
        width: 2vw;
    }
    .navbar-nav {
        height: 100%;
        padding-top: 1rem;
        padding-left: 1rem;
    }
    .nav-elem {
        font-family: 'Gilroy-Medium';
        font-size: 1.3rem;
        color: rgb(35, 34, 34) !important;
        padding-bottom: 1.8rem;
        text-decoration: underline 2px #F4C644;
    }
    .mobile-header .social {
        /* margin: 0 auto; */
        margin-left: 3vh;
        /* display: inline-block !important; */
        flex: center;
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
    .mobile-header .social img {
        width: 6vh;
        /* display: inline-block; */
    }
    .mobile-header .call-bnt {
        width: 80% !important;
    }
    .main-carousel .carousel {
        width: 90% !important;
        /* margin-right: 0 !important; */
        /* margin-left: 0 !important; */
    }
    .main-carousel .slide-image {
        text-align: center !important;
    }
    .main-carousel .slide-image > img {
        margin-top: -5vh !important; 
        width: 30vh !important;
        margin-bottom: 0 !important;
    }
    .main-carousel .slide-info .caption-block img {
        width: 15vh !important;
    }
    .main-carousel .slide-info .caption-block h1 {
        font-size: 1.2rem !important;
        width: 70%  !important;
        top: 10vh !important;
    }
    .main-carousel .slide-info .caption-block p {
        font-size: 0.8rem !important;
        padding-top: 20vh !important;
        padding-left: 10vw !important;
    }
    .mobile-py4 {
        margin-top: 3rem;
    }
    .mobile-footer .ps-3 {
        padding: 0 !important;
    }
    .carousel-caption  {
        display: none !important;
    }
    .slider-btn-mobile {
        display: block !important;
        border-radius: 10px;
        background-color: #F4C644;
        margin: 0 auto;
        font-family: 'Gilroy-Semibold';
        font-size: 1.2rem;
        width: 15rem;
        margin-top: 10vh !important;
        height: 57px !important;
    }
    .slider-btn {
        display: none !important;
    }
    .main-carousel .background-template {
        width:28vh !important;
    }
    .contact-us {
        height: auto !important;
        display: block;
    }
    #over_map {
        display: block !important;
        position: relative !important;
        left: 0 !important;
    }
    #map {
        display: none !important;
    }
    .contact-block {
        margin: 0 auto !important;
        width: 100% !important;
    }
    .contact-block p {
        font-size: 1rem !important;
        width: 80% !important;
        margin: 0 auto;
    }
    .contact-block a {
        font-size: 1rem !important;

    }
    .contact-block__wrapper button {
        font-size: 1rem !important;
        margin-top: 2vh !important;
    }
    .contact-block .social {
        margin-top: 1vh !important;
    }
    .contact-block .social a>img{
        width: 2.4rem !important;
    }
    .main-footer .logo-holder img {
        width: 8rem !important;
    }
    #footer-parent {
        display:flex;
        flex-flow: column;
    }
    .main-footer .social a>img {
        width: 2.5rem !important;
        margin-left: 0.2vh !important;
    }
    .main-footer .social  {
        margin: 0 auto !important;
        display: block !important;
        margin-bottom: 2vh !important;
    }
    .main-footer .row {
        padding: 0 !important;
    }
    #or1{order:4; margin-top: 1rem;}
    #or2{order:1;}
    #or3{order:2;}
    #or4{order:3;}
    .main-footer .row {
        /* padding-left: 4vw !important; */
    }
    .main-footer .disclaymer-holder p {
        font-size: 0.6rem !important;
    }
    .main-footer .call-back {
        margin: 0 auto !important;
        width: 80% !important;
        font-size: 1.1rem !important;
        display: none !important;
    }
    .main-footer .telephone {
        margin: 0 auto;
        text-align: center;
        display: none;
    }
    .main-footer .footer__info {
        padding-bottom: 0 !important;
        font-size: 1rem !important;
    }
    .main-footer .col-sm-12 {
        text-align: center !important;
        margin: 0 auto !important;
    }
    .advantages {
        display: none ;
        width: 100% !important;
        margin-top: 7rem !important;
    } 
    .advantages .background-template {
        width: 30vh !important;
    }
    .product-wrapper {
        padding-left: 0 !important;
        padding-right: 0 !important;
        height: 180rem !important;
    }
    .product-bar {
        margin-bottom: 40px !important;
    }
    .product-menu .card {
        margin-bottom: 2rem !important;
        height: auto !important;
    }
    .product-menu .product-table {
        display: table !important;
    }
    .product-menu .product-table .column {
        font-size: 1rem !important;
        text-align: left !important;
    }
    .product-menu .product-table .data {
        font-size: 1rem !important;
        
    }
    .product-menu .card-img, .card-img-top {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .product-menu .card {
        height: auto !important;
    }
    .product-menu .card h5 {
        font-size: 1.2rem !important;
    }
    .product-menu .card .price {
        font-size: 1.2rem !important;
        text-decoration: underline 3px solid #F4C644;
        margin-bottom: 2rem !important;
    }
    .product-wrapper .row>* {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .product-bar__elem .active {
        border: solid #F4C644 px !important; 
    }
    .product-bar__elem {
        margin-bottom: 0.6rem;
        line-height: 20px !important;
        /* background-color: #fff !important   ; */
    }
    .product-bar__elem p{
        font-size: 0.6rem !important;
    }
    .product-menu .card a {
        line-height: 35px !important; 
        width: 70% !important;
        font-size: 1rem !important;
        margin-bottom: 2rem !important;
    }
    .btn-hover {
        width: 90% !important;
        font-size: 1.4rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    .magnet-block {
        padding-bottom: 20px !important;
    }
    .magnet-block h2 {
        padding-left: 0 !important;
        text-align: center !important;
    }
    .magnet-block p {
        font-size: 1rem !important;
        margin-left: 0 !important;
        padding-top: 10px !important;
        text-align: center !important;
    }
    .magnet-block form {
        margin-top: 0 !important;
    }
    .magnet-block .image-wrapper img {
        display: none !important;
    }
    .magnet-block input {
        font-size: 1rem !important;
        width: 100% !important;
        padding-left: 10px !important;
        margin-left: 0 !important;
    }
    .about-us {
        margin-top: 30px;
    }
    .about-us__inner p {
        font-size: 0.8rem;
    }
    .features {
        padding-top: 2rem !important;
        width: 90% !important;
    }
    .features__header p {
        font-size: 0.8rem !important;
        letter-spacing: normal !important;
        padding-bottom: 3rem !important;
    }
    .features__header img {
        display: none !important;
    }
    .fetures__holder {
        /* width: 10%; */
    }
    .fetures__holder img {
        border: 0 none;
        display: inline-block;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    
    .features__body_row h3 {
        font-size: 1.4rem !important;
    }
    .features__body_row p {
        font-size: 0.9rem !important;
    }
    .features__footer .image-holder img {
        width: 20rem !important;
        
    }
    .features__footer .templ_holder {
        width: 3.5rem !important;
    }
    .features__descr__text {
        font-size: 0.8rem !important;
    }
    .features_descr__block {
        padding-left: 0 !important;
    }
    .modal b{
        font-family: 'Gilroy-Bold' !important;
    }
    .modal-body input {
        line-height: 42px !important;
        border-radius: 10px ;
    }
    .modal-footer button {
        line-height: 47px !important;
        font-size: 1.2rem !important;
        width: 70% !important;
    }
}   



