@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('../fonts/Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;   
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('../fonts/Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Black';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('../fonts/Gilroy Black'), local('../fonts/Gilroy-Black'),
        url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Black.woff2') format('woff2'),
        url('../fonts/Gilroy-Black.woff') format('woff'),
        url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Ligth';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('../fonts/Gilroy Light'), local('../fonts/Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Semibold';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('../fonts/Gilroy Semibold'), local('../fonts/Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('../fonts/Gilroy Medium'), local('../fonts/Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.w60 {
    width: 60% !important;
}
p , h1, h2, h3, h4, h5, a, img, li {
    caret-color: transparent !important;
    letter-spacing: 0.03rem;

}
/* Animations */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 80%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: #F4C644;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.shaking:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
@keyframes shake {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    20% {
        transform: translateX(-2px) rotate(-2deg);
    }

    40% {
        transform: translateX(-1px) rotate(-1deg);
    }

    60% {
        transform: translateX(2px) rotate(2deg);
    }

    80% {
        transform: translateX(1px) rotate(1deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

/* end of animations */
a {
    font-family: 'Gilroy-Medium';
    text-decoration: none;
} 
body {
    background-color: #fff;    
}
.main-header {
    /* margin: 0 0 0 8vw; */
    background-color: #fff;
}
.main-header .brand-img {
    width: 12vw;
}
.main-header .nav-link {
    cursor: pointer;
}
.main-header .nav-link>img {
    width: 2vw;
}
.main-header .navigation {
    font-family: 'Gilroy-Semibold';
    font-size: 1.1vw;
}
.main-header .social a {
    color: rgb(33, 33, 33);
    font-family: 'Gilroy-Semibold';
    font-size: 1.1vw;
}
.main-header a:hover {
    color: rgb(7, 7, 7);
}
 .call-bnt {
    background-color: #F4C644;
    border-radius: 8px;
    line-height: 25px;
    border: 2px solid #F4C644;
}
 .call-bnt:hover {
    color: rgb(33, 33, 33);   
    background-color: #f0ecec;
}
.main-carousel {
    padding: 0;
    z-index: 999;
}
.main-carousel .background-template {
    position: absolute;
    width: 30vh;
    left: 0;
    top: 11.5vh;
}
.main-carousel .carousel {
    padding-top: 15vh;
    width: 78vw;
    margin: 0 auto;
}

.main-carousel .carousel .carousel-item {
    background-color: rgb(206, 206, 206);
    height: 90vh;
    border-radius: 10px;
    padding-bottom: 1.25rem;
}
.main-carousel .carousel .carousel-item  {
    background: #fff;    }
.main-carousel .carousel .carousel-inner {
    background-color: rgb(255, 255, 255);
    /* height: 80vh; */
    border-radius: 10px;
}
.main-carousel .carousel-holder {
    background-color: #fff;
    height: 100%;

}
.main-carousel .slide-info .caption-block img {
    position: absolute;
    width: 15vw;
    top: 6vh;
    padding-left: 5vw;
    z-index: 30;
}
.pulse {
    animation: pulse 2s linear infinite;

}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    75% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
.main-carousel .slide-info .caption-block h1 {
    font-family: 'Gilroy-Bold';
    font-size: 2vw;
    color: #444444;
    z-index: 100;
    top: 16vh;
    position: absolute;
    padding-left: 13vw;

}
.main-carousel .slide-info .caption-block p {
    font-family: 'Gilroy-Medium';
    font-size: 1.1vw; 
    padding-left: 5vw;
    padding-top: 12vh;
    width: 90%;
} 
.main-carousel .slide-info .caption-block button {
    font-family: 'Gilroy-Semibold';
    font-size: 1.2vw; 
    margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border: 2px solid #F4C644;
    width: 30%;
    background-color: #F4C644;
    border-radius: 10px;
    line-height: 47px;
    
} 
.main-carousel .slide-info .caption-block button:hover {
    background-color: #f0ecec;
    /* -webkit-box-shadow: inset -8px -8px 51px -38px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: inset -8px -8px 51px -38px rgba(0,0,0,0.75) !important;
    box-shadow: inset -8px -8px 51px -38px rgba(0,0,0,0.75) !important; */
}
.main-carousel .slide-image > img {
    /* width: 27vw; */
    margin-bottom: 20vh;

}
.main-carousel .carousel-control-prev-icon {
    filter: invert(40%);
    margin-right: 6vw;
}
.main-carousel .carousel-control-next-icon {
    filter: invert(40%);
    margin-left: 6vw;
}
.main-carousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.main-carousel .carousel-indicators {
    bottom: -70px;
}
.main-carousel .carousel-indicators [data-bs-target] {
    background-color: rgb(206, 206, 206);
}
.main-carousel .carousel-indicators .active{
    background-color: #F4C644;
}
.main-carousel .carousel .carousel-control-next {
    margin-bottom: 20vh;
    margin-top: 20vh;
}
.main-carousel .carousel .carousel-control-prev {
    margin-bottom: 20vh;
    margin-top: 20vh;
}
.main-carousel .slider-btn-mobile {
    display: none ;
}
.main-carousel .carousel-item .carousel-caption {
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: rgb(86, 86, 86);
    background-color: rgb(246, 243, 243);
    text-align: center;
}
.main-carousel .carousel .caption__unit {
    height: 18vh;

}
.main-carousel .carousel .carousel-caption .caption__title {
    margin-bottom: 2vh;
    font-family: 'Gilroy-Regular';
    font-size: 1.3vw;

}
.main-carousel .carousel .carousel-caption .caption__info {
    margin-bottom: 0;
    font-family: 'Gilroy-Semibold';
    font-size: 1.4vw;
    text-decoration: underline 3px solid #F4C644;
}

.social-section {
    height: 30vh;
    padding: 5vh 0 0 0;
}
.social-section .wrapper {
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
  height: auto;
    padding-top: 5vh;
    padding-bottom: 2vh;

}
.social-section h2 {
    font-family: 'Gilroy-Semibold';
    font-size: 1.9rem;
    text-transform: uppercase;
    color: #444444;
}
.social-section  .btn-hover {
    /* margin-left: 33vw; */
    margin-top: 5vh;
    width: 20vw;
}
.btn-hover {
    font-family: 'Gilroy-Regular';
    font-size: 1.4vw ;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 20px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.product-wrapper {
    margin-top: 7rem;
    padding-right: 2rem;
    padding-left: 2rem;
}
.product-wrapper .about-us__title {
    margin-left: 8.5vw;
    margin-bottom: 5vh;
}
.product-wrapper .disclaymer {
    font-family: 'Gilroy-Regular';
    font-size: 1.1vw;
}
.product-bar {
    border-radius: 12px;
    margin-right: 8vw;
    margin-left: 8vw;
    line-height: 45px;
    cursor: pointer;
}
.product-bar p {
    font-family: 'Gilroy-Medium';
    font-size: 1.2vw;
}
.product-bar .active {
    background-color: #f0ecec;
    border-radius: 12px;
    text-decoration: underline #F4C644 3px;
}  
.product-bar__elem {
    padding-top: 15px;
    padding-bottom: 1px;
    border-radius: 12px;
    background-color: #dbd9d9;
    /* padding-bottom: 3px; */
}
.product-bar__elem:hover {
    background-color: #f0ecec;
    border-radius: 10px;
}
#prod-2 {
    display: none;
}
#prod-3 {
    display: none;
}
#prod-4 {
    display: none;
}

.product-menu .row{
    margin-right: 2vw;
    margin-left: 2vw;
    height: 65vh;
}
.product-menu .card {
    transition: transform .6s; /* Animation */
    -webkit-box-shadow: 4px 6px 20px -4px rgba(171,171,171,1);
    -moz-box-shadow: 4px 6px 20px -4px rgba(171,171,171,1);
    box-shadow: 4px 6px 20px -4px rgba(171,171,171,1);
    border: none;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    height: 26vw;
}

.product-menu .card:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    height: 65vh;
}
.card table {
    /* padding-right: 0 !important; */
}
.product-table {
    display: none;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 90%;
}
.product-table .tbody {
    padding-left: 50px !important;
}
.product-menu .card:hover > .product-table {
    display: inline-table;
}

.product-menu .product-table .data{
    text-align: right !important;
    color: #444444;
    font-family: 'Gilroy-Semibold';
    font-size: 1.2vw;
}
.product-menu .product-table .column{
    color: #3f3e3e;
    font-family: 'Gilroy-Regular';
    font-size: 1.1vw;
    text-decoration: underline 2px solid #F4C644;
}
.product-menu .card:hover > img {
    width: 10vw;
    margin: 0 auto
}

.product-menu tbody, td, tfoot, th, thead, tr {
    border: none;
}
.btlr10 {
    border-top-left-radius: 10px;
}
.btrr10 {
    border-top-right-radius: 10px;
}
.product-menu .card:hover > a {
    background-color: #F4C644;
}
.product-menu .card-img, .card-img-top {
    border-radius: 10px;

}
.product-menu .card h5 {
    margin-top: 15px;
    font-family: 'Gilroy-Semibold';
    font-size: 1.4vw;
}

.product-menu .card .price {
    font-family: 'Gilroy-Bold';
    font-size: 1.3vw;
}
.product-menu .card a {
    position: relative;
    background-color: #fff;
    color: #444444;
    font-family: 'Gilroy-Semibold';
    font-size: 1.1vw;
    border: 1px solid #acaaaa;
    border-radius: 10px;
    line-height: 25px;
    width: 7vw;
    margin: 0 auto;
    margin-bottom: 10px;
}
.about-us {
    padding: 20vh 3vw 5vh 3vw;
}
.about-us__title {
    border-left: 4px #F4C644 solid;
    padding-left: 10px;
    margin-left: 3px;
}
.about-us__title h2 {
    font-family: 'Gilroy-Semibold';
    font-size: 1.9rem;
    text-transform: uppercase;
}
.about-us__inner {
    /* height: 40vh; */
    font-family: 'Gilroy-Regular';
    font-size: 1.1vw;
}
.about-us__inner img {
    width: 100%;
}
.bby {
    border-bottom: 4px solid #F4C644;
}

.advantages {
    width: 80%;
    margin: 0 auto;
    margin-top: 10vw;
    border-radius: 10px;
    height: auto;
}
.advantages .background-template {
    position: absolute;
    width: 50vh;
    right: 0;
    top: 112.5vh;
    z-index: -1;
}
.advantages__title {
    border-left: 4px #F4C644 solid;
    padding-left: 10px;
    margin-left: 3px;
    margin-top: 5vw;
}
.advantages__title h2 {
    font-family: 'Gilroy-Semibold';
    font-size: 1.9rem;
    text-transform: uppercase;
}
.advantages__table {
    margin: 0 auto;
    margin-top: 2vw;
    border-radius: 10px !important;
    height: auto;
    background-color: #fff;
    z-index: 999;
}

.advantages .table>:not(caption)>*>* {
    padding-bottom: 2vw;
    padding-left: 2vw;
    padding-top: 1vw;
} 
.advantages .table>:not(:last-child)>:last-child>* {
    padding-top: 1vw;
    padding-bottom: 1vw !important;
    border-bottom: 3px solid #F4C644;
    font-family: 'Gilroy-Semibold';
    font-size: 1.2vw;
    background-color: #dbd9d9;
}
.advantages th {
    font-family: 'Gilroy-Semibold';
    font-size: 1.1vw;
}

.advantages td {
    font-family: 'Gilroy-Medium';
    font-size: 1.05vw;
}
.advantages .undrl {
    text-decoration: underline 3px solid #F4C644;
}
.advantages .bg-grey {
    background-color: #dbd9d9;
}
.magnet {
    margin: 0 10vw 4vw 10vw;
}
.magnet-block {
    border-radius: 10px;
    background: rgba(252,234,187,1);
background: -moz-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(237,189,66,1) 19%, rgba(237,189,66,1) 43%, rgba(252,205,77,1) 90%, rgba(251,223,147,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(252,234,187,1)), color-stop(19%, rgba(237,189,66,1)), color-stop(43%, rgba(237,189,66,1)), color-stop(90%, rgba(252,205,77,1)), color-stop(100%, rgba(251,223,147,1)));
background: -webkit-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(237,189,66,1) 19%, rgba(237,189,66,1) 43%, rgba(252,205,77,1) 90%, rgba(251,223,147,1) 100%);
background: -o-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(237,189,66,1) 19%, rgba(237,189,66,1) 43%, rgba(252,205,77,1) 90%, rgba(251,223,147,1) 100%);
background: -ms-linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(237,189,66,1) 19%, rgba(237,189,66,1) 43%, rgba(252,205,77,1) 90%, rgba(251,223,147,1) 100%);
background: linear-gradient(45deg, rgba(252,234,187,1) 0%, rgba(237,189,66,1) 19%, rgba(237,189,66,1) 43%, rgba(252,205,77,1) 90%, rgba(251,223,147,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=1 );
}
.magnet-block h2 {
    font-family: 'Gilroy-Semibold';
    font-size: 1.9rem;
    margin-top: 30px;
    padding-left: 30px;
    text-transform: uppercase;
}
.magnet-block p {
    font-family: 'Gilroy-Medium';
    font-size: 1.5vw;
    margin-left: 30px;
    padding-top: 20px;
}
.magnet-block input {
    margin-left: 30px;
    padding-left: 20px;
    border-radius: 10px;
    width: 30vw;
    border: none;
    background-color: #f8eed3;
    line-height: 55px;
    font-family: 'Gilroy-Medium';
    font-size: 1.3vw;
}
.magnet-block input:focus {
    outline: 0;
}
.magnet-block .btn-hover {
    width: 30vw;
    margin-left: 30px;
    border-radius: 10px;
    line-height: 50px;
}
.magnet-block .image-wrapper {
    padding-right: 0;
    border-radius: 10px;
}
.magnet-block .image-wrapper img {
    border-radius: 10px;
    width: 100%;
}

.main-footer {
    background-color: #fff;
    height: auto;
    padding-top: 5vh;
}
.main-footer .row {
    padding-left: 8vw;
    /* padding-right: 3vw; */
    padding-bottom: 3vh;
}
.main-footer .logo-holder img {
    width: 10vw;
}
.main-footer .disclaymer-holder {
    margin-top: 10px;
}
.main-footer .disclaymer-holder p {
    font-family: 'Gilroy-Regular';
    font-size: 1.7vh;
}
.main-footer .social {
    margin-top: 2vh;
}
.main-footer .social a>img {
    display: inline-block;
    width: 2vw;
}
.main-footer .footer__column {
    /* text-align: center; */
    text-transform: uppercase;
    font-family: 'Gilroy-Bold';
    font-size: 2.1vh;
}
.main-footer .footer__info {
    font-family: 'Gilroy-Medium';
    font-size: 2vh;
}
.main-footer a {
    color: #444444;
    text-decoration: underline 3px #F4C644;
}
.main-footer .telephone {
    font-family: 'Gilroy-Semibold';
    font-size: 2.4vh;
    text-decoration: none;
}
.main-footer .telephone:hover {
    text-decoration: underline 3px #F4C644;

}
.main-footer .call-back {
    display: table;
    text-align: center;
    font-family: 'Gilroy-Semibold';
    font-size: 1.1vw; 
    width: 12vw;
    margin-top: 10px;
    border: 2px solid #F4C644;
    background-color: #F4C644;
    border-radius: 10px;
    line-height: 37px;

}
#wrapper { 
    position: relative; 
}
#over_map { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    z-index: 99; 

}
.contact-block {
    margin-top: 1vw;
    margin-left: 10vw;
    border-radius: 10px;
    background-color: #fff;
    height: auto;
    width: 50%;
    padding: 2vh;
    padding-bottom: 20px;
}
.contact-block h2 {
    font-family: 'Gilroy-Semibold';
    font-size: 1.4rem;
    text-transform: uppercase;
}
.contact-block p {
    font-family: 'Gilroy-Medium';
    font-size: 1.1vw; 
    text-align: center;
    margin-bottom: 0;
}
.contact-block a {
    font-family: 'Gilroy-Semibold';
    font-size: 1.3vw;
    text-decoration: underline #F4C644 solid 3px; 
    text-align: center;
    color: #444444;
}
.contact-block__wrapper {
    padding-bottom: 10px;
}
.contact-block__wrapper a{
    display: block;
}
.contact-block__wrapper button {
    border-radius: 10px;
    background-color: #F4C644;
    font-family: 'Gilroy-Semibold';
    font-size: 1.2vw;
    border: 2px solid #F4C644;
    line-height: 45px;
    width: 65%;
}
.contact-block .social a>img{
    display: inline;
    width: 4vh;
}
.features {
    width: 80%;
    margin: 0 auto;
    /* margin-top: 10vw; */
    border-radius: 10px;
    height: auto;

}
.features__title {
    border-left: 4px #F4C644 solid;
    padding-left: 10px;
    margin-top: 5vw;
}
.features__title h2 {
    font-family: 'Gilroy-Semibold';     
    font-size: 1.9rem;
    text-transform: uppercase;
}
.features__header {
    border-radius: 10px;
    padding-top: 1vw;
}
.features__header p{
    display: inline;
    font-family: 'Gilroy-Regular';
    font-size: 1.1vw;
}
.features__header img {
    width: 4vw;
    margin-top: 10px;
    display: block;
    margin-left: auto;

}
.fetures__holder img {
    width: 0.3vw;
    display: block;
    margin-left: auto;
}
.features__body_row {
    margin-top: 2vw;
    
}
.features__body_row h3{
    font-family: 'Gilroy-Semibold';
    font-size: 1.4vw;
    text-transform: uppercase;
}
.features__body_row p {
    font-family: 'Gilroy-Medium';
    font-size: 1.1vw;
}
.features__footer .image-holder {

}
.features__footer .image-holder img{
    width: 40vw;
    bottom: 0;
}
.features__footer .templ_holder {
    width: 5vw;
} 
.features_descr__block {
    padding-top: 5vh;
    padding-left: 5vh;
}
.features__descr__text {
    padding-top: 3vh;
    font-family: 'Gilroy-Regular';
    font-size: 1.1vw;
}
.features__descr__text > a {
    color: #3f3e3e;
    text-decoration: underline #F4C644 solid 3px;
}
.modal-title {
    font-family: 'Gilroy-Semibold';
    font-size: 1.7rem;
    text-decoration: underline #F4C644 solid 3px; 

}
.modal-header .title-header {
    /* padding-left: 10px; */
}
.modal-body p {
    font-family: 'Gilroy-Medium';
    font-size: 1.0rem;
}

.modal-body label {
    font-family: 'Gilroy-Medium';
    font-size: 0.9rem;    
}
.modal-body input {
    font-family: 'Gilroy-Medium';
    font-size: 1.0rem;
}
.modal-footer {
    justify-content: center;
}
.modal-footer button {
    font-family: 'Gilroy-Semibold';
    font-size: 1.0rem;
    text-align: center;
    color: #444444;
    border-radius: 10px;
    background-color: #F4C644;
    line-height: 34px;
    width: 8rem;

}

.btn:focus {
    outline: none;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
    outline: none;

}

/* Mobile version */

.mobile-header {
    display: none;
    background-color: #f8eed3;
}
.mobile-header .brand-img{
    width: 10vh;
}
